/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        TextSelect: TextSelect {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(LEFT))>;
            label = "TEXTSELECT";
        };

        BrowserForward: BrowserForward {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RC(TAB)>;
            label = "BROWSERFORWARD";
        };

        BrowserBackward: BrowserBackward {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(TAB))>;
            label = "BROWSERBACKWARD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E     &kp R        &kp T                   &kp Y                      &kp U        &kp I      &kp O    &kp P     &kp MINUS
&kp LSHFT   &kp A  &kp S  &kp D     &kp F        &kp G                   &kp H                      &kp J        &kp K      &kp L    &kp SEMI  &kp RSHFT
&caps_word  &kp Z  &kp X  &kp C     &kp V        &kp B                   &kp N                      &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp DELETE
                          &kp LGUI  &lt 1 ENTER  &mt LEFT_CONTROL TAB    &mt RIGHT_SHIFT BACKSPACE  &lt 2 SPACE  &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&bt BT_CLR        &bt BT_SEL 0       &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &kp N7  &kp N8  &kp N9  &trans  &trans  &trans
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMI      &kp APOS      &kp SPACE     &kp RS(MINUS)    &kp N4  &kp N5  &kp N6  &trans  &trans  &trans
&trans            &trans             &trans        &trans        &trans        &trans           &kp N1  &kp N2  &kp N3  &trans  &trans  &trans
                                                   &trans        &trans        &trans           &trans  &kp N0  &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp C_VOLUME_UP    &kp PAGE_UP    &BrowserBackward  &kp UP_ARROW  &BrowserForward  &kp PRINTSCREEN  &trans
&trans  &trans  &trans  &trans  &trans  &kp C_VOL_DN       &kp PAGE_DOWN  &kp LEFT          &kp DOWN      &kp RIGHT        &kp C_POWER      &trans
&trans  &trans  &trans  &trans  &trans  &trans             &trans         &kp HOME          &kp END       &trans           &trans           &trans
                        &trans  &trans  &trans             &trans         &trans            &trans
            >;
        };
    };
};
